a:link {
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: none;
}
#td{
	position:absolute;
	TOP:20px;
	LEFT:5px;
	width:80;
	height:800;
	font-family:Georgia;
	font-size:120%;
	text-align: left;
	height:800; 
}
#a {
	line-height: 6.5;
	letter-spacing: 3.5px;
}
#b{
	letter-spacing: 4px;
}
div.img1 img{
	position:absolute;
	TOP:10px;
	LEFT:5px;
}
div.img7 img{
	position:absolute; 
	TOP:620px; 
	LEFT:326px;  	
}

div.img2 img{
	position:absolute; 
	TOP:10px; 
	LEFT:325px;  	
}

div.transbox{
	position:absolute; 
	TOP:240px; 
	LEFT:700px;
	border-style: double;
    border-width: thick;
	border-right: 10px solid #e6e6e6;
	border-left: 10px solid #e6e6e6;
	border-top: 6px solid #e6e6e6;
	border-bottom: 6px solid #e6e6e6;
	padding: 30px;
	background-color: #ffffff;
	opacity:0.65; 
	filter: alpha(opacity=60);
}
#p{
	position:absolute; 
	TOP:240px; 
	LEFT:700px;
	color:#000000;
}
#p2 {
	position:absolute; 
	TOP:250px; 
	LEFT:700px;  	
}
img{
	position:absolute; 
	TOP:10px;
	LEFT:325px;
}